.vscode/**
.vscode-test/**
.gitignore
node_modules/**
*.vsix
template/**
.git/**
.github/**
docs/**
CONTRIBUTING.md
.eslintrc.json
.prettierrc
coverage/**
*.map
*.ts
out/test/**
src/**
public/archive/**